<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HereIAm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5988B75F1CD69C1C00C89F69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5988B7781CD69C1C00C89F69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5988B7831CD69C1C00C89F69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
